* {
  font-family: 'Fantasy', sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #b0e0e6;
  text-align:center;
  padding:10px;
  margin:0;
  color: white;
}

input {
  padding: 1em;
}

fieldset {
border: none;
}

#page-wrap {
  align-content:center;
  margin-left:20%;
  margin-right:20%;
}

.banner {
text-align:center;
}

.banner p {
font-size: 14px;
  color:#808080;
}

#name,
#email,
#phone,
#street,
#city,
#zip{
 background-color:#d3d3d3;
  border:none;
  margin: 10px;
  border-radius: 10px;
}

.piece {
  display: flex;
  flex-direction: column;
}
#select,
#format {
  margin:10px;
}


.line{
border-top: double 8px;
}

button {
  text-align: center;
  padding:20px 100px;
  background-color: #b0e0e6;
  border:none;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  margin-top: 20px;
}
.indent {
  text-align: center;
}

#other {
  background-color: #d3d3d3;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  padding-right: 150px;
  padding-bottom:100px;
}
@media (min-width:768px) {
  .piece {
    flex-direction: row;
    display: inline-block;
  }
  #name{
    padding-right: 130px;
  }
  #email {
    padding-right: 100px
  }
  #city {
    padding-right: 180px;
  }

  #phone,
  #street {
    padding-right: 100px;
  }

  #zip {
    padding-right: 0;
  }

}
