* {
  font-family: 'Sofia', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: #b0e0e6;
  text-align:center;
  padding:10px;
  margin:0;
  color: white;
}

input {
  padding: 1em;
}

fieldset {
border: none;
}

#page-wrap {
  text-align: center;
  margin: auto;
}

.banner {
text-align:center;
}

.banner p {
font-size: 14px;
  color:#808080;
}

.field > input,
.field > select {
 background-color:#d3d3d3;
  border:none;
  margin: 10px;
  border-radius: 5px;
}

.field > label {
  margin-left: 10px;
}

.field:last-child {
  width: auto;
}

#zip {
  width: 30%;
  min-width: 120px;
}

#state {
  padding:13px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.field > label {
  align-self: flex-start;
}


.newsletter {
  text-align: left;
}

.newsletter p {
  margin: 0;
}
.newsletter label {
  margin: 15px;
}

#select,
#format {
  margin:10px;
}

.line{
border-top: double 8px;
}

button {
  padding:10px 20px;
  background-color: #b0e0e6;
  border:none;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  cursor:pointer;
  width: 100%;
}

input::placeholder {
  text-align: right;
}

.indent {
  text-align: center;
}

.field > input:focus,
.field > select:focus,
textarea:focus {
  outline: none;
  background-color: #b0e0e6;
  border: 1px solid darkslategrey;
}

textarea {
  background-color: #d3d3d3;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

@media (min-width:768px) {
  .field {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #page-wrap{
    margin: auto;
    width: 65%;
  }

  #zip {
    margin-right: 36%;
    margin-left: 0;
  }



  .field > label {
    margin-top: 20px;
  }

  .field > input,
  .field > select {
    width: 65%;
  }
}
